<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./imports/head") %> 
</head>
<body>
    <h1 class="title" > Task Manager </h1>
    <nav id="navigation_main">
        <a class="btn-main" href="/listar"> Mis Tareas </a>
        <a class="btn-main" href="/crear"> Nueva Tarea </a>
        <a class="btn-main" href="/login"> Ingresar </a>
    </nav>
</body>
</html>