<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./imports/head") %> 
</head>
<body>
    <h1 class="title" > Mis tareas</h1>
    <% if (misTareas.length == 0) { %>
        <p> No tienes tareas todavia. </p>
        <a class="btn-main" href="/crear"> Nueva Tarea </a>
    <% } else{ %>
        <ul>
            <% misTareas.forEach(tarea => { %>
                <li>
                    <span class="task-title"><%= tarea.titulo %> </span>
                    <span class="task-title"><%= tarea.state %> </span>
                    <span class="task-title"><%= tarea.date %> </span>
                </li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>